button {
    padding: 10px 10px;
    background-color: white;
    color: green;
}

button::before {
    content: 'Pasa por encima';
}

button:hover::before {
    content: '';
}

button:hover{
    background-color: green;
    color: white;
}

button:hover::after {
    content: '¡Hecho!';
}